@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    padding-top: 33px;
}

@media (max-width:1536px) {
    nav {
        padding-top: 10px;
    }
}
/* @media (max-width:1920px) {
    nav {
        padding-left: 146px;
        padding-right: 146px;
    }
}
@media (max-width:1536px) {
    nav {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:1280px) {
    nav {
        padding-left: 80px;
        padding-right: 80px;
    }
} */