.search-bar {
    width: 358px;
    padding: 12px 17px 12px 20px;
    background: #FFFFFF;
    border: 1px solid #D9D9DE;
    border-radius: 8px;
}
.search-bar input {
    border: none;
    width: 100%;
}
.form-search {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5B5B80;
}
.search-bar i {
    font-size: 20px;
    padding-left: 14px;
}
select:focus-visible,
input:focus-visible {
    border: none;
    outline: none;
}
.select-wrap 
{
  margin-left: 40px;
  border-radius: 4px;
  padding: 0px;
  width:262px;
}
.select-wrap label
{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #9CA3AF;
}
select
{
    font-family: 'Styrene A LC';
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #111827;
    border: none;
}
.select-location img  {
    margin-right: 10px;
    width: 15px;
    height: 20px;
}
.nav-icons {
    display: flex;
    align-items: center;
}
.nav-icons a{
    margin-right: 60px;
}
.nav-icons .btn {
    padding: 0px;
}
.btn,
.btn.show {
    border: none;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: auto;
    right: 0;
}
.navbar {
    padding: 19px 40px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
}
.banner-section {
    padding: 0px 40px;
    position: relative;
    background: #F5F5F6;
}
.events-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px solid #D9D9DE;
    border-bottom: 1px solid #D9D9DE;
}
.events-main a img {
    margin-right: 12px;
}
.events-main a{
    font-family: 'Styrene A LC';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #0E0E2C;
    text-decoration: none;
}
.events-main a.view-btn {
    font-family: 'Styrene A LC';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #4E1FA3;
    padding: 12px 15px;
    background: rgba(78, 31, 163, 0.05);
    border-radius: 8px;
}
.events-main a.view-btn:hover {
    background-color: #4E1FA3;
    color: #FFFFFF;
}
.breadcrumb-main {
    display: flex;
}
.breadcrumb {
    margin-top: -12px;
    padding-right: 20px;
    background: #F5F5F6;
    margin-bottom: 40px;
}

.breadcrumb-item a {
    position: relative;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #808095;
    background: #F5F5F6;
    text-decoration: none;
}
.event-main-detail {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
    border-top: 1px solid #D9D9DE;
    border-bottom: 1px solid #D9D9DE;
}
.border-div {
    width: 1px;
    background: #D9D9DE;
}
.event-banner-image {
    width: 100%;
    margin-bottom: 21px;
    border-radius: 10px;
}
.event-heading {
    font-family: 'Styrene A LC';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #111827;
    padding: 26px 0px;
    border-top: 1px solid #D9D9DE;
    margin-bottom: 0px;
}
.event-saidbar-details p,
.event-details p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808095;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.event-saidbar-details img,
.event-details img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.event-details h5 {
    font-family: 'Styrene A LC';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #4E1FA3;
    margin-bottom: 0px;
}
.event-saidbar-details h5 {
    font-family: 'Styrene A LC';
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #0E0E2C;
    margin-bottom: 0px;
}
.event-saidbar-details {
    padding: 18px 0px;
    border-top: 1px solid #D9D9DE; 
}
.event-saidbar-details .register-btn {
    font-family: 'Styrene A LC';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #4E1FA3;
    padding: 12px 18px;
    width: 100%;
    border-radius: 8px;
}
.event-saidbar-details .register-btn:hover {
    background-color: #FFFFFF;
    color: #4E1FA3;
}
.event-discription {
    padding-bottom: 26px;
    border-bottom: 1px solid #D9D9DE;
}
h4 {
    font-family: 'Styrene A LC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #111827;   
    margin-bottom: 0px;
}
.event-discription h4 {
    padding: 26px 0px;
    margin-bottom: 0px;
}
.event-discription p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #9CA3AF;
}
.event-agenda img{
    padding: 10px 12px;
}
.event-agenda p {
    margin-bottom: 0px;
}
.event-agenda {
    display: flex;
    align-items: center;
}
.speaker-section h4 {
   padding: 26px 0px;
}
.event-details img.events-hero {
    width: 46px;
    height: 46px;
}
.speaker-section .tag-btns {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #4E1FA3;
    text-decoration: none;
    background: rgba(78, 31, 163, 0.05);
    border-radius: 8px;
    padding: 8px 10px; 
}
.speaker-section .tag-btns:hover {
    background-color: #4E1FA3;
    color: #FFFFFF;
}
.event-card {
    position: relative;
    border-radius: 10px;
}
.event-card img {
    width: 100%;
    border-radius: 10px;
}
.date-box {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 14px;
    background: #FFFFFF;
    border-radius: 8.45498px;
}
.event-content h5,
.date-box h5 {
    font-family: 'Styrene A LC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #111827;
    text-align: center;
    margin-bottom: 0px;
}
.event-content h5 {
    text-align: left;
}
.date-box p {
    font-family: 'Manrope';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #9CA3AF;
    margin-bottom: 0px;
}
.view-box p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;
    margin-bottom: 0px;
}
.view-box a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #4E1FA3;
    text-decoration: none;
    background: rgba(78, 31, 163, 0.05);
    border-radius: 8px;
    padding: 8px 18px; 
}
.view-box a:hover {
    background-color: #4E1FA3;
    color: #fff;
}
.view-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}
.event-content {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    height: auto;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 4.13935px 8.2787px 16.5574px rgba(17, 24, 39, 0.2);
    border-radius: 8px;
}
.upcoming-event-heading {
    padding-top: 40px;
    padding-bottom: 20px;
}
.upcoming-event-heading a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #9CA3AF;
    text-decoration: none;
}
.upcoming-event-section {
    padding-bottom: 50px;
}
.event-details-heading {
    color: #0E0E2C !important;
    font-size: 17px !important;
    line-height: 22px;
}
.map-location {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4E1FA3;
}
.event-right-bar {
    padding-left: 40px;
}
.event-saidbar-details .share-btn {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #192A44;
    text-decoration: none;
}
.share-btn img{
   width: auto;
   height: auto;
}
.nav-tabs {
    border-bottom: none;
    gap: 26px;
    padding-bottom: 20px;
}
.nav-tabs .nav-link {
    border: none;
    padding: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link img {
    border: 3px solid transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active img {
    border: 3px solid #4E1FA3;
    border-radius: 16px;
}
.event-card-row {
    row-gap: 25px;
}
.events-section-row {
    row-gap: 30px;
}
.common-tags {
    display: flex;
    align-items: center;
    gap: 26px;
}





/* saidbar.css */
.event-main-section {
    position: relative;
    display: flex;
    height: 100%;
}
.event-main-saidbar {
    width: 245px;
    background-image: url(/layer1x/assets/images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.event-main-right-section {
    position: relative;
    width: calc(100% - 245px);
    background: #F5F5F6;
}
.logo {
    padding: 22px 0px;
}
hr {
    opacity: 0.08;
    border: 1px solid #FFFFFF;
    margin: 0px 14px;
}
.app-section a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 17px 0px;
}
.app-section a:hover {
    background: #232369;
}
.app-section {
    padding: 12px 0px;
}
.app-section a span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.app-section a img {
    margin-right: 18px;
    margin-left: 46px;
}
.screen-shot-image {
    padding-top: 102px;
}

/* user-profile screen start*/
.progress-level {
    width: 100%;
}
.progress-level p{
    margin-bottom: 0px;
}
.progress {
    width: -webkit-fill-available;
}
/* user-profile screen end */


/* responsive sections */
@media (max-width:1256px) {
    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }
    .event-right-bar {
        padding-left: 25px;
    }
    .banner-section {
        padding: 0px 30px;
    }
}

@media (max-width:1199px) {
    .event-main-saidbar {
        width: 200px;
    }
    .event-main-right-section {
        width: calc(100% - 200px);
    }
    .app-section a img {
        margin-right: 10px;
        margin-left: 35px;
    }
    .app-section a span {
        font-size: 13px;
    }
    .search-bar {
        width: 250px;
    }
    select {
        font-size: 20px;
    }
    .nav-icons a {
        margin-right: 40px;
    }
    .select-wrap {
        width: 230px;
    }
    .event-heading,
    .events-main a {
        font-size: 22px;
    }
    .events-main a.view-btn {
        font-size: 15px;
        padding: 10px 13px;
    }
    .event-page {
        margin-bottom: 30px;
    }
    .event-content h5 {
        font-size: 14px;
    }
    .event-discription p,
    .event-details h5 {
        font-size: 15px;
    }
    .event-details img.events-hero {
        width: 42px;
        height: 42px;
    }
    .event-discription h4,
    .event-main-detail {
        padding: 22px 0px;
    }
    .view-box a {
        font-size: 12px;
        padding: 6px 12px;
    }
    .view-box p {
        font-size: 10px;
    }
    .date-box h5 {
        font-size: 14px;
    }
    .date-box p {
        font-size: 12px;
    }
   .register-btn {
    font-size: 18px;
   }
}

@media (max-width:1024px) {
    .logo {
        padding: 18px 0px;
    }
}

@media (max-width:991px) {
    .banner-section {
        padding: 0px 20px;
    }
    .navbar {
        display: block;
        padding: 20px 20px;
    }
    .logo img {
        width: 70px;
        height: auto;
    }
    .nav-icons {
        margin-top: 25px;
    }
    .nav-icons a {
        margin-right: 80px;
    }
    .event-page {
        font-size: 12px;
    }
    .event-right-bar {
        padding-left: 10px;
    }
    .select-wrap {
        margin-left: 80px;
        margin-top: 0px;
    }
    .events-main a.view-btn {
    font-size: 12px;
    padding: 8px 13px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .btn img {
        width: 50px;
        height: auto;
    }
    .search-bar {
        padding: 8px 17px 8px 17px;
    }
    .breadcrumb {
        margin-bottom: 30px;
    }
}
@media (max-width:767px) {
    .select-wrap {
        margin-left: 40px;
    }
    .logo img {
        width: 50px;
        height: auto;
    }
    .upcoming-event-heading {
        padding-top: 30px;
    }
    .event-page {
        margin-bottom: 30px;
    }
    .events-main a img {
        width: 40px;
        height: auto;
    }
    .event-page {
        font-size: 14px;
    }
    .event-main-saidbar {
        width: 100px;
    }
    .event-main-right-section {
        width: calc(100% - 100px);
    }
    .app-section a span {
        display: none;
    }
    .app-section {
        padding: 5px 0px;
    }
    .search-bar {
        padding: 8px 17px 8px 15px;
    }
    select {
        font-size: 18px;
    }
    .app-section a:hover span {
        position: absolute;
        content: " ";
        display: block;
        top: 0px;
        right: -100px;
        width: 120px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #232369;
        border-radius: 8px;
        z-index: 1;
    }
}
@media (max-width:640px) {
    .breadcrumb {
        margin-bottom: 20px;
    }
    select {
        font-size: 16px;
    }
    .events-main a img {
        width: 35px;
        height: auto;
    }
    .event-heading, .events-main a {
        font-size: 20px;
    }
    .event-page {
        margin-bottom: 20px;
    }
    .speaker-section h4,
    .event-discription h4, 
    .event-main-detail,
    .event-heading {
        padding: 20px 0px;
    }
    .event-discription p, .event-details h5 {
        font-size: 15px;
    }
    .event-discription {
        padding-bottom: 20px;
    }
    .event-saidbar-details .register-btn {
        font-size: 18px;
        padding: 10px 18px;
    }
    .upcoming-event-heading {
        padding-top: 20px;
    }
    .nav-tabs, .event-main-detail, .common-tags {
        flex-wrap: wrap;
        gap: 20px;
    }
    
}
@media (max-width:575px) {
    .event-main-saidbar {
        width: 80px;
    }
    .event-main-right-section {
        width: calc(100% - 80px);
    }
    .app-section a img {
        margin-right: 10px;
        margin-left: 25px;
    }
    .form-search {
        font-size: 12px;
    }
    .search-section {
        flex-wrap: wrap;
        gap: 15px;
    }
    .select-wrap {
        margin-left: 0;
    }
    .search-bar {
        width: 250px;
        padding: 5px 10px 5px 10px;
    }
    select {
        font-size: 14px;
    }
    .select-location img {
        margin-right: 5px;
    }
    .dropdown-item {
        font-size: 14px;
    }
    .nav-icons a {
        width: 25px;
        height: auto;
    }
    .event-heading {
        font-size: 18px;
        line-height: 26px;
    }
    .speaker-section h4, .event-discription h4, .event-main-detail, .event-heading {
        padding: 16px 0px;
    }
    h4 {
        font-size: 18px;
    }
    .event-discription p, .event-details h5 {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 22px;
    }
    .event-page {
        font-size: 13px;
    }
    .border-div {
        display: none;
    }
    .event-agenda img {
        padding: 8px 10px;
    }
    .events-main a.view-btn {
        font-size: 12px;
        padding: 6px 10px;
    }
    .nav-tabs,
    .event-main-detail,
    .common-tags {
        flex-wrap: wrap;
        gap: 20px;
    }
    .speaker-section .tag-btns {
        font-size: 12px;
    }
    .event-right-bar {
        padding-left: 20px;
    }
    .nav-icons a {
        margin-right: 30px;
    }
    .upcoming-event-section {
        padding-bottom: 30px;
    }
    .event-agenda {
        display: block;
    }
    .events-main {
        flex-wrap: wrap;
        gap: 20px;
    }
    .search-bar i {
        font-size: 15px;
    }
    .btn img {
        width: 40px;
        height: auto;
    }
    .events-main {
        flex-wrap: wrap;
        gap: 15px;
    }
    .events-main {
        padding-top: 15px;
    }
}
@media (max-width:425px) {
    .events-main a img {
        width: 30px;
        height: auto;
    }
    .event-content h5, .date-box h5 {
        line-height: 18px;
    }
    .events-main a.view-btn {
        font-size: 10px;
        padding: 4px 10px;
    }
    .search-section {
        gap: 5px;
    }
    .select-wrap label,
    select {
        font-size: 10px;
    }
    .select-location img {
        width: 10px;
        height: 15px;
    }
    .nav-icons {
        margin-top: 20px;
    }
    .btn img {
        width: 40px;
        height: auto;
    }
    .navbar-toggler {
        padding: 4px;
    }
    .btn img {
        width: 35px;
        height: auto;
    }
    .event-saidbar-details {
        padding: 14px 0px;
        border-top: 1px solid #D9D9DE;
    }
    .event-saidbar-details .register-btn {
        font-size: 12px;
        padding: 6px 15px;
    }
    .date-box {
        padding: 5px 10px;
    }
    .date-box h5 {
        font-size: 12px;
    }
    .event-heading, .events-main a {
        font-size: 18px;
    }
    .event-agenda {
        display: block;
    }
    .nav-tabs {
        gap: 9px;
    }
    .events-section-row {
        row-gap: 20px;
    }
    .event-details-heading {
        font-size: 12px !important;
    }
    .upcoming-event-heading {
        flex-wrap: wrap !important;
        gap: 15px;
    }
    .event-page {
        margin-bottom: 5px;
    }
    .upcoming-event-section {
        padding-bottom: 20px;
    }
    .nav-tabs, .event-main-detail, .common-tags {
        flex-wrap: wrap;
        gap: 10px;
    }
    .event-saidbar-details .register-btn {
        font-size: 14px;
        padding: 8px 15px;
    }
    .view-box a {
        font-size: 10px;
        padding: 3px 12px;
    }
    .app-section a:hover span  {
        top: 10px;
        right: -95px;
        width: 100px;
        height: 40px;
    }
    .nav-icons a img {
        width: 20px;
        height: auto;
    }
    .breadcrumb-item a {
        font-size: 10px;
    }
}